<!doctype html>
<html>
	<head>
		<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.js"></script>

		<style>
			* {
				font-size: 20px;
			}

			body {
				background-color: #ccc;
			}

			textarea {
				min-height: 200px;
			}

			label {
				display: grid;
			}

			td {
				white-space: nowrap;
			}
		</style>
	</head>

	<body>
		<div id="app">
			<div style="display: grid; grid-gap: 10px; width: 600px;">
				<label>
					API Key
					<input type="text" v-model="apiKey" placeholder="API Key">
				</label>

				<label>
					Domains

					<textarea v-model="domains"></textarea>
				</label>

				<button type="button" v-on:click="load" :disabled="!Boolean(apiKey) || !Boolean(domains) || loading">
					<template v-if="!Boolean(apiKey)">
						Enter API Key above
					</template>

					<template v-else-if="!Boolean(domains)">
						Enter at least 1 domain above
					</template>

					<template v-else-if="loading">
						Loading...
					</template>

					<template v-else>
						CC click here!
					</template>
				</button>
			</div>

			<hr>

			<div>
				<button type="button" v-on:click="selectTable">Select All</button>

				<table border="1" ref="table">
					<thead>
						<tr>
							<th>subdomain</th>
							<th>domain</th>
							<th v-for="key in techKeys">{{ key }}</th>
						</tr>
					</thead>

					<tbody>
						<tr v-for="row in formattedResults">
							<td>{{ row.subdomain || '-' }}</td>
							<td>{{ row.domain || '-' }}</td>
							<td v-for="key in techKeys">{{ row[key] || '-' }}</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</body>

	<script>
		(function() {
			new Vue({
				el: "#app",

				data: {
					apiKey: "",
					domains: "",
					responses: [],
					formattedResults: [],
					obj: {},
					loading: false
				},

				computed: {
					domainChunks: function() {
						var domains = this.domains.replace("\r", "").split("\n").map(function(domain) { return domain.trim(); });

						var chunks = [];

						var chunkSize = 16;

						for (var i = 0; i < domains.length; i += chunkSize) {
							chunks.push(domains.slice(i, i+chunkSize));
						}

						return chunks;
					},

					techKeys: function() {
						var keys = {};

						this.formattedResults.forEach(function(row) {
							Object.keys(row).forEach(function(key) {
								keys[key] = "";
							});
						});

						delete keys.domain;
						delete keys.subdomain;

						return Object.keys(keys);
					},
				},

				methods: {
					selectTable: function() {
						selectElementContents(this.$refs.table);
					},

					load: function() {
						var self = this;

						self.loading = true;
						self.responses = [];

						var loadPromise = self.domainChunks.reduce(function(promiseChain, domains) {
							return promiseChain
								.then(function() {
									return axios.get(`https://api.builtwith.com/v13/api.json?KEY=${self.apiKey}&LOOKUP=${domains.join(",")}&LIVEONLY=yes`)
										.then(function(response) {
											self.responses = self.responses.concat(response.data.Results);
										});
								});
						}, Promise.resolve())

						loadPromise
							.then(function() {
								self.loading = false;
							})
							.then(self.formatResponses);
					},

					formatResponses: function() {
						this.formattedResults = this.responses.map(function(res) {
							return res.Result.Paths
								.filter(function(path) {
									return path.Technologies.length > 0;
								})
								.map(function(path) {
									var techs = {};

									path.Technologies.forEach(function(tech) {
										techs[tech.Tag] = techs[tech.Tag] || [];
										techs[tech.Tag].push(tech.Name);
									});

									Object.keys(techs).forEach(function(key) {
										techs[key] = techs[key].join(", ");
									});

									return {
										domain: path.Domain,
										subdomain: path.SubDomain,
										...techs
									}
								});
						}).flat();
					},
				}
			});

			function selectElementContents(el) {
				var body = document.body, range, sel;
				if (document.createRange && window.getSelection) {
					range = document.createRange();
					sel = window.getSelection();
					sel.removeAllRanges();
					try {
						range.selectNodeContents(el);
						sel.addRange(range);
					} catch (e) {
						range.selectNode(el);
						sel.addRange(range);
					}
				} else if (body.createTextRange) {
					range = body.createTextRange();
					range.moveToElementText(el);
					range.select();
				}
			}
		})();
	</script>
</html>

